html, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, img, small, strong, sub, sup, ol, table, caption, tbody, tfoot, thead, tr, th, td, form, fieldset, legend, input, select, textarea, button, code, del, dfn, ins, kbd, q, samp, var {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
  }